
@{
    ViewBag.Title = "Account Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Settings</h2>


@{

 if(ViewBag.type==false)
    { <a href="#" id="ResetPassword">Reset Password</a>}

else
{
        <p>You Are Logged in With Facebook / Google </p>
}
}

<script>


    $("#ResetPassword").click(function () {

        $("#Passcontainer").load("/Account/ResetMyPassword");
        $("#reset").modal();

    });
</script>

<div class="modal fade" id="reset">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Reset Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

                <div id="Passcontainer">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>