
@{
    ViewBag.Title = "Warning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
Email Address is not found in our System. Please Confirm your Email before Proceed.    </p>
</div>

