@model ComPro.Models.UserInfo
@{
    ViewBag.Title = "New Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="alert alert-info">
    <h3>Hej @Model.Name</h3>
    <br/>
    Thank you for your registration. 
    <br/>
    You will get an email as soon as Admin approve your registration. Thank You . 

</div>

