@model List<ComPro.Models.CommentViewModel>
@using ComPro.Helpers

<div>
    @foreach (var i in Model)
    {
        <div class="row">
            <div class="commentWriter col-2">
                <div class="row">
                    <div class="col">
                        <img src="@i.CommentUser.Photo" class="img-thumbnail" style="width: 70px;height: 70px"/>
                    </div>
                    <div class="col">
                        <h6> @i.CommentUser.Email.UserName()</h6>
                        <span class="dt">@i.Comment.CommentDateTime.ToShortDateString()</span>
                    </div>
                </div>
                
            </div>
            <div class="commentDes col-8">
                @i.Comment.CommentText
            </div>

        </div>
    }
</div>