################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ComPro/.vs
/ComPro/ComPro/bin
/ComPro/ComPro/ComPro/bin
/ComPro/ComPro/ComPro/obj
/ComPro/ComPro/obj/Debug
/ComPro/ComPro/obj/Release
/ComPro/ComPro/ComPro.Tests
/ComPro/ComPro/Content/images/Profile
/comPro/ComPro/ComPro/Web.config
/ComPro/ComPro/PrivateSettings.config
/ComPro/ComPro/ConnectionStrings.config
/ComPro/ComPro/Content/images
