
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    
    <div>
        <pre>
            Dear Member,
                 
                Thank You for being with us. Your Profile in BPID is now approved.
                Please Verify your Email address to complete your registration..
        <a href="ConfirmationLink">Click Here</a>

            Best Regards
            Admin
            BPID
                    
        
        </pre>
    </div>
</body>
</html>
