
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div>
        <pre>
            Dear Admin,
            A New User Is Registered in BPID.
            The User Details:

            Name    : UserName
            Email   : UserEmail
            

            Thank You
        
        </pre>
    </div>
</body>
</html>
