
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div>
        <pre>
            Dear Member,
            Thank you for your registration in BPID. We will contac you as soon as your profile is approved by Admin. 
            Keep Patience & Stay in touch.


            Thank You
              Admin
              BPID    
        
        </pre>
    </div>
</body>
</html>
