
@model IEnumerable<ComPro.Models.ChatModel>

<table class="table">


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.ActionLink(item.PartnerName, "EventDetails", "Event", new { id = Int32.Parse(item.PartnerId) }, null)*@

                <a href="#" onclick="Latest_Event_Details(@item.PartnerId)">@item.PartnerName</a>
            </td>

        </tr>


    }

</table>


<script>

    function Latest_Event_Details(id) {

       
        var url = "/Event/EventDetails";

        $.ajax({

            url: url,
            data: { id: id },

            success: function (data) {
               
                $('#Latest_Event_Container').html(data);
                $('#MyModal').modal();
            }

        });

    }
</script>
<div id="Latest_Event_Container">
</div>