@{
    ViewBag.Title = "About";
}
<h3 class="font-weight-bold text-success">OUR MISSION </h3>
<hr />
<div class="justify-content-md-center jumbotron">
    <p>
        Our mission is to serve as the unequivocal voice for the Bangladeshi Diaspora
        by developing and engaging a cohesive network of professionals to benefit the
        community
    </p>
</div>


<h3 class="font-weight-bold text-success">WHO WE ARE  </h3>
<hr />
<div class="justify-content-md-center jumbotron">
    <p>
        Bangladeshi Professionals in Denmark (BPID) - is a voluntary organization
        in Denmark that dedicated to the overall achievement and advancement of professionals
        of Bangladeshi origin in Denmark. BPID provides a platform to network with other
        professionals and achievers, enhance skills and contribute constructively as
        representatives of Bangladesh in Denmark and beyond. This platform is open for all
        the professionals of Bangladeshi origin regardless of their religion, gender, and
        political views. BPID is the network for all professionals who seek to fulfill their
        potential.
    </p>
</div>


<h3 class="font-weight-bold text-success">OUR PURPOSE </h3>
<hr />
<div class="justify-content-md-center jumbotron">
    <ul>
        <li>To facilitate networking among Bangladeshi Professionals with others; </li>
        <li>To captivate events focused on enhancing knowledge and capability; </li>
        <li>To participate in community activities to uplift lives of the less privileged; </li>
        <li>To serve as an organization that meet the needs of  Bangladeshi professionals; </li>
        <li>To become the voice of the Bangladeshi Community; </li>
        <li>To recognize Bangladeshi Professionals for their contributions to Denmark and to those who have contributed to a valued relationship between Denmark and Bangladesh. </li>
    </ul>

   </div>
