
@{
    ViewBag.Title = "Feature";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Feature pipeline</h3>
<hr />
<div class="jumbotron">
    These are the features that we would like to add in the site. 
 
    <ul>
        <li>Chat module</li>
        <li>Online radio</li>
        <li>Webinar</li>
        <li>Complete integration with the bpid facebook group</li>
        
    </ul>

</div>

