@using ComPro.Helpers
@{
    ViewBag.Title = "Home";
}

@section metatags
{
    <meta property="og:url" content="http://bpid.dk"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Bangladeshi Professionals in Denmark"/>
    <meta property="og:description" content="Bangladeshi Professionals in Denmark (BPID) - is a voluntary organization
        in Denmark that dedicated to the overall achievement and advancement of professionals
        of Bangladeshi origin in Denmark"/>
    @*<meta property="og:image" content="http://www.your-domain.com/path/image.jpg" />*@
}

@*<script>
    $(document).ready(function () {

        //$("#MemberName").load("/Home/LatestMember", function () {
        //    $("#memberLoader").hide();
        //});
        //$("#EventName").load("/Home/LatestEvent");
        //$("#NoticeName").load("/Home/LatestNotice");

    });
</script>*@
<div ng-controller="homeController">
    <div id="common-message" style="display: none;"></div>
    <div class="row justify-content-md-center" style="margin-bottom: 100px;">
        <div class="col-md-12">

            <div style="margin-left: auto; margin-right: auto; margin-top: 10px; text-align: center; background-color: #f8f9fa !important" class="jumbotron">
                <div id="fakeBox">
                    <input type="text" name="Search" id="searchText" placeholder="Search for Members, their Posts and Events" class="fakeInput"/>
                </div>
                <div style="padding-top: 10px;">
                    <input type="button" class="btn btn-primary btn-custom " id="StartSearch" name="submit" value="Search"/>
                </div>

            </div>


            @if (!User.Identity.IsAuthenticated)
            {
                <div style="margin-left: auto; margin-right: auto; text-align: center;">
                    <h4>Be a part of the professional network. <a href="/Account/Register" class="btn btn-success"> Register here</a></h4>
                </div>
            }

        </div>
    </div>
    <div class="row" style="padding: 20px;">
        <div class="spinner" ng-show="loadingEvents">
            <img src="/Content/ajax-loader.gif" alt="bpid content loading..."/>
        </div>
        <div class="card-deck">
            <div class="card" ng-repeat="n in latestEvents" >
                <a href="/Event/Details/{{n.UniqueUrl}}">
                    <img class="card-img-top" src="{{n.Images[0].ImagePath}}" alt="{{n.EventTitel}}" style="max-width: 100%; max-height: 200px">
                </a>
                <div class="card-body text-center">
                    <div class="row">
                        <div class="col col-md-3">
                            <p class="card-text text-capitalize text-lg-right lead">
                                <span><strong>{{n.EventDate.slice(6,-2)|date : "MMM "}}</strong></span>
                                <br/>
                                <span><strong>{{n.EventDate.slice(6,-2)|date : "d"}}</strong></span>
                                @*<small class="text-muted"></small>*@
                            </p>
                        </div>
                        <div class="col col-md-7">
                            <h5><a href="/Event/Details/{{n.UniqueUrl}}"> {{n.EventTitel}}</a></h5>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            
        </div>
       
    </div>
    <div class="row" ng-show="showMoreEvents">
        <div class="lead" style="width: 160px; margin-left: auto;margin-right: auto"><a href="/Event"><u>see more events</u></a></div>
    </div>
    <div class="row" style="padding: 20px;">
        <div class="spinner" ng-show="loadingNotice">
            <img src="/Content/ajax-loader.gif" alt="bpid content loading..."/>
        </div>
        <div class="card-deck">
            <div class="card" ng-repeat="n in latestNotices">
                <a href="/NoticeBoard/Notice/{{n.Notice.UniqueUrl}}">
                    <img class="card-img-top" src="{{n.NoticeImage.ImagePath}}" alt="{{n.Notice.Title}}" style="max-width: 278px; max-height: 200px">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><a href="/NoticeBoard/Notice/{{n.Notice.UniqueUrl}}"> {{n.Notice.Title}}</a></h5>
                    @*<p class="card-text" ng-bind-html="n.Notice.Description|limitTo : 30 : 0"></p>*@
                    <p class="card-text">
                        <small class="text-muted">Posted by: {{n.PostedBy}}</small>
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="lead" style="width: 160px; margin-left: auto;margin-right: auto"><a href="/Noticeboard"><u>see more notices</u></a></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#StartSearch").click(function () {

            var SearchText = $("#searchText").val().trim();
            if (SearchText !== "") {
                var url = "/search?text=" + SearchText.replace(/\s/g, "-");
                window.location.href = url;
            }
            if (!SearchText) {
                $('#common-message').html('<div class="alert alert-success"><strong> Ooppsss !</strong> Empty search text.</div>');
                $('#common-message').delay(400).slideDown(400).delay(4000).slideUp(400);
            }

        });
    });


</script>


